html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./image/ocean-3605547_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: silver;
}

.space{
    display: block;
    height: 50px;
}

.space-30{
    display: block;
    height: 30px;
}

strong{
    font-weight: initial;
}


.container-perso {
    margin-left: 15px;
    margin-right: 20px;
    height: 80vh;
}

.logo-nav{
    width: 50px;
    margin-left: 5px;
}

li{
    list-style-type: none ;
}

#theone{
    font-size: 20px;
    margin-top: 70px;
}
#thetwo{
    margin-top: 70px;
}

footer{
    padding: 3em 0 3em;
}

.jumbotron{
    background-color: rgba(11, 11, 88, 0.294);
    padding: 15px;
    border-radius: 10px;
}

p{
    font-size: 21px;
}
#thenine{
    background-color: rgba(11, 11, 88, 0.294);
    padding: 15px;
    border-radius: 10px;
}

.skill img{
height: 100px;
width: 100px;
padding: 10px;

}
#theeight{
    text-align: center;
}

.theten{
    height: 256px;
}

#theninethene{
    padding: 15px;
    margin-top: 15px;
}

#thesixteen{
    background-color: rgba(11, 11, 88, 0.294);
    padding: 15px;
    border-radius: 10px;
}

.img1{
width: 400px;
}

#thetwentyfive{
    background-color: rgba(11, 11, 88, 0.294);
    padding: 15px;
    border-radius: 10px;
}

#projet{
    text-align: center;
}

.img2{
    width: 400px;
    }

    #thetwentysix{
        background-color: rgba(11, 11, 88, 0.294);
        padding: 15px;
        border-radius: 10px;
    }
